*.py     text eol=lf diff=python
*.pyi    text eol=lf diff=python
*.pyc    linguist-generated=true diff=generated
*.typed  binary

*.toml   text eol=lf diff=toml
*.lock   text eol=lf

*.md     text eol=lf diff=markdown
